<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medsec.dao.AppointmentMapper">
    <select id="get" resultType="com.medsec.entity.Appointment">
        SELECT * FROM Appointment WHERE id= #{id} AND pid= #{pid}
    </select>

    <select id="getAll" resultType="com.medsec.entity.Appointment">
        SELECT *
        FROM Appointment
        WHERE pid= #{pid}
        <choose>
            <when test="from_date != null and to_date != null">
                AND date BETWEEN #{from_date} AND #{to_date}
            </when>
            <when test="from_date != null and to_date == null">
                AND date > #{from_date}
            </when>
            <when test="from_date == null and to_date != null">
                <![CDATA[
                AND date < #{to_date}
                ]]>
            </when>
        </choose>
        <if test="is_confirmed != null">
            AND is_confirmed= #{is_confirmed}
        </if>
        
    </select>

    <!--<select id="getAppointments" resultType=""-->
</mapper>